#vid-div {
  position: relative;
  overflow: hidden;
}

#vid {
  min-height:700px;
  max-height: 100vh;
  min-width:100%;
}

#overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(82,100,120,0.8);
  z-index: 999;
  position:absolute;
  top:0
}

/*#map-container {
  width: 200px;
  height: 200px;
}*/
